@model List<Patient>
<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <h2>Patients List</h2>
        <div class="x_title">
            <div>
                
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                    <a asp-action="Create" class="btn btn-primary text-white"><i  class=" fa fa-plus"></i> Create</a>
                </ul>


            </div>

            <div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><i class="fa fa-male"></i></li>
                    <li class="breadcrumb-item active">Patient Management</li>
                    <li class="breadcrumb-item active">Patient Registration</li>
                </ul>


            </div>

            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">

                        <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Gender</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>FatherName</th>
                                    <th>Age</th>
                                    <th>Number</th>
                                    <th>Adress</th>
                                    <th>BloodGroup</th>

                                    <th>Status</th>
                                    <th style="text-align:right">Action</th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (Patient item in Model)
                                {
                                    <tr>
                                        <td>
                                            @if (@item.Gender)
                                            {
                                                <div>Male</div>
                                            }
                                            else
                                            {
                                                <div>Female</div>
                                            }
                                        </td>
                                        <td>@item.Name</td>
                                        <td>@item.Surname</td>

                                        <td>@item.FatherName </td>
                                        <td>@item.Age</td>
                                        <td>@item.Number</td>
                                        <td>@item.Address</td>
                                        <td>@item.BloodGroup.GroupName</td>

                                        <td>
                                            @if (item.IsDeactive)


                                            {
                                                <div class="badge badge-danger">Passiv</div>
                                            }
                                            else
                                            {
                                                <div class=" badge badge-success">Activ</div>
                                            }
                                        </td>


                                        <td>
                                            <div class="d-flex justify-content-end">
                                                <div style="margin-right:5px">
                                                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-info"> <i class=" fa fa-pencil"></i> Update</a>
                                                </div>
                                                <div style="margin-right:5px">
                                                    <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-success">Detail</a>
                                                </div>

                                                @if (item.IsDeactive)
                                                {

                                                    <div style="margin-right:5px">
                                                        <a asp-action="Activity" asp-route-id="@item.Id" class="btn btn-success"> <i class=" fa fa-trash"></i> Activate</a>
                                                    </div>
                                                }
                                                else
                                                {

                                                    <div style="margin-right:5px">
                                                        <a asp-action="Activity" asp-route-id="@item.Id" class="btn btn-danger"><i class=" fa fa-trash"></i> Deactivate</a>
                                                    </div>
                                                }

                                            </div>
                                        </td>

                                    </tr>
                                }



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

